.DS_Store
*.temp
.*
!.gitignore
*.log
Session.vim
*.pyc
__pycache__/
*.egg-info/
.archive/
data/
results/
figures/
3dec/saves/
3dec/autosave-*.sav
overleaf/
documents/
.overleaf-key.md
*.sav
backup/**
*.backup
tmp.py
